body{
    width: 80%;
    margin: 0 auto;
}

.rettangolo{
    margin: 0 auto;
    background-size: 30%;
    background-image: url(/img/pattern.png); 
    background-color: rgb(0, 183, 255);
}

.logo{
    width: 200px;

}

.link{
    text-decoration: none;
}

.container ul {
    margin-left: -20px;
}
.tabletesta{
    color: white;
    background-color: rgb(32, 169, 229);
}
.lungtable{
    width: 50%;
    margin: 0px;
}
.rigablu{
    background-color: rgb(177, 229, 242);
}

.coloregiallo{
    background-color: yellow;
}

.scritta{
    text-decoration-color: white;
}

.testofinale{
    color: rgb(131, 127, 127);
    font-size: large;
    font-family: verdana, bold;
}
.scritta{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.monitor{
    width: 250px;
    height: 200px;
    background-position: center;
    background-image: url(/img/monitor.jpg);
}

.graph{
    width: 250px;
    height: 200px;
    background-position: center;
    background-image: url(/img/graph.jpg);
}

