body{
    width: 80%;
    margin: 0 auto;
}

.rettangolo{
    width: 1100px;
    background-size: 30%;
    background-image: url(/img/pattern.png); 
    background-color: rgb(0, 183, 255);
}

.logo{
    width: 200px;

}

.link{
    text-decoration: none;
}

.tabletesta{
    table-layout:auto;
    background-color: rgb(32, 169, 229);
}

.rigablu{
    background-color: rgb(177, 229, 242);
}

.coloregiallo{
    background-color: yellow;
}

.scritta{
    text-decoration-color: white;
}

.monitor{
    width: 250px;
    height: 200px;
    background-position: center;
    background-image: url(/img/monitor.jpg);
}

.graph{
    width: 250px;
    height: 200px;
    background-position: center;
    background-image: url(/img/graph.jpg);
}

